hostfile_4device
hostfile_bk
logs
output
output_log
wandb
tboard
test_cache_telechat3
profiler_result
log_for_need
get_mpx.sh
checkpoints
check_err.sh
run_telechatv3_105B_musa_4device.sh
s5000_gbs16384_gpus32_steps500.tar.gz
torchinductor_root
